/*====================================FOR NAVIGATION BAR==========================================================================*/
#navbar {
    /*background-color: #262228;*/
    font-size: 3vw;
    height: 60px;
    overflow: none;

}

#navbar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}

#navbar li {
    padding: 10px;
    margin-right: 30px;
    vertical-align: middle;
    display: inline;
}

#navbar a {
    text-decoration: none;
    color: #fffed8;
    vertical-align: middle;
}

#navbar a:hover {

    background-color: #fafafa;
    color: red;
    font-stretch: 50px;
    border-radius: 5px;
    border: 10% solid #fafafa;
    padding: 10px 4px;

}


/*==================================== FOR FOOTER==========================================================================*/

#footer {
    background-color: #a9a9a9;
    /*lightblue color*/
    font-size: 30px;
    position: absolute;
    padding-left: 20%;
    border-radius: 2%;
    width: 100%;
    height: 10%;
    padding-top: 2%;
}

#footer ul li a {
    text-decoration: none;
    vertical-align: middle;
    padding: .2em 1em;
    color: black;
}

#footer ul li {
    display: inline;
}

#footer ul {
    list-style-type: none;
    align-self: right;
    display: inline;
}

#footer ul li a:hover {
    color: blue;
}

/*
#footer ul li a:visited {
    color: silver;
}
*/
#footer ul li a:active {
    color: red;
}

/**===========================EVERY BUTTON=====================================*/
button {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}

/*This css gives a tab/spaces while beginning a paragraph*/
.tab {
    margin-left: 9%;
}

/*======================FOR FORM===================================*/
form {
    background-color: #fef4;
    border: 2px solid lightyellow;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    line-height: 150%;
    color: red;
    opacity: 0.7;
    align-self: center;
    margin-left: 40%;
    margin-top: 7%;

}

@media only screen and (max-width: 600px) {
    form {
        text-align: left;
        margin-left: 1%;
        opacity: 1;
    }
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 5px 4px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[name="Email"]:invalid {

    color: blue;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text]:focus {
    background-color: #5555;
    border: 3px solid lightblue;
}